.circbtn {
    height: 180px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
    color: #fff;
}

.circbtn:hover {
    opacity: 1;
    box-shadow: inset 0 0 15px orange;
}